* {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.bch-contenedor {
    min-height: 100%;
    display: flex;
    background: #002464;
    align-content: flex-end;
    align-items: center;
    justify-content: space-around;
}

.bch-login {
    font-size: 1.2em;
    width: 402px;
    height: 485px;
    background: white;
    border-radius: 40px;
    padding: 80px 110px;
    box-sizing: border-box;
}
.bch-login h2 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
 }