.tab {
    position: relative;
    top: 32px;
    left: 20px;
    display: inline-block;
}

.tablinks {
    border: solid 1px #D3D3D5;
    /* border-bottom: 0; */
    border-radius: 5px 5px 0 0;
    background: #EEEEF1;
    height: 38px;
    color: #666;
    cursor: pointer;
}

.tablinks.active {
    background: #fff;
    border-bottom: none;
    height: 41px;
    color: #234E85;
}

.wrapp.tab-content {
        border-top-left-radius: 0;
        border: solid 1px #D3D3D5;
        z-index: 9;
}